spring:
  application:
    name: credentials-app
  datasource:
    #url: jdbc:postgresql://localhost:5432/userdb
    url: jdbc:postgresql://host.docker.internal:5432/userdb
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9000 #http://mock-oidc:9000 #http://host.docker.internal:9000 #
          jwk-set-uri: http://host.docker.internal:9000/jwks
