<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Enable detailed Spring Security + JWT validation logs -->
    <logger name="org.springframework.security" level="DEBUG"/>
    <logger name="org.springframework.security.oauth2" level="DEBUG"/>
    <logger name="org.springframework.security.oauth2.server.resource" level="DEBUG"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="com.org.user.credentials" level="INFO"/>
    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>