<div class="container">
  <div *ngIf="isLoading">Loading...</div>
  <div *ngIf="!isLoading">
    <div *ngIf="isCredentialsAvailable">
      <h2>Credentials</h2>

      <ul class="list">
        <li class="list-item" *ngFor="let c of credential">

          <div class="cred-info">
            <strong>{{ c.clientId }}</strong>

            <div>
              <label>Creation date</label>
              <p>{{ c.creationDate }}</p>
            </div>

            <div>
              <label>Expiry date</label>
              <p>{{ c.expiryDate }}</p>
            </div>
          </div>

          <!-- EDIT MODE -->
          <div *ngIf= "editId === c.clientId" class="edit-box">
            <label>New Secret</label>
            <input type="text" [(ngModel)]="updatedSecret" placeholder="Enter new secret" type="password"/>

            <div class="edit-actions">
              <button class="btn btn-primary" (click)="save(c)">Save</button>
              <button class="btn" (click)="cancel()">Cancel</button>
            </div>
          </div>

          <!-- VIEW MODE BUTTONS -->
          <div *ngIf= "editId !== c.clientId" class="actions">
            <button class="btn btn-primary" (click)="edit(c)">Edit</button>
            <button class="btn" (click)="delete(c)">Delete</button>
          </div>

        </li>
      </ul>
    </div>
    <div *ngIf="!isCredentialsAvailable">
      <h3>Add new credential</h3>
      <form (submit)="create()">
        <input name="clientSecret" [(ngModel)]="clientSecret" placeholder="secret" type="password" required />
        <button type="submit">Create</button>
      </form>
    </div>
  </div>
</div>