spring:
  application:
    name: credentials-app
  datasource:
    #url: jdbc:postgresql://localhost:5432/userdb
    url: jdbc:postgresql://host.docker.internal:5432/userdb
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://host.docker.internal:8081/realms/myrealm #http://keycloak:8080/realms/myrealm
          jwk-set-uri: http://host.docker.internal:8081/realms/myrealm/protocol/openid-connect/certs