services:
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "4200:80"
    environment:
      KEYCLOAK_URL: http://localhost:8081
      KEYCLOAK_REALM: myrealm
      KEYCLOAK_CLIENT_ID: angular-client
    networks:
      - demo-net

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8080:8080"
    depends_on:
      - keycloak
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://host.docker.internal:5432/userdb
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://localhost:8081/realms/myrealm
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://host.docker.internal:8081/realms/myrealm/protocol/openid-connect/certs
    networks:
      - demo-net

  keycloak:
    image: quay.io/keycloak/keycloak:21.1.1
    container_name: keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    command:
      - start-dev
      - "--import-realm"
    volumes:
      - ./realm-export.json:/opt/keycloak/data/import/realm-export.json:ro
    ports:
      - "8081:8080"
    networks:
      - demo-net

  db:
    image: postgres:latest
    container_name: user-credentials-postgres
    environment:
      POSTGRES_DB: userdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - demo-net

networks:
  demo-net:
    driver: bridge

volumes:
  pgdata:
